In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np

In [5]:
df = pd.read_csv('/content/Fish.csv')

In [6]:
df.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Species  159 non-null    object
 1   Weight   159 non-null    float64
 2   Length1  159 non-null    float64
 3   Length2  159 non-null    float64
 4   Length3  159 non-null    float64
 5   Height   159 non-null    float64
 6   Width    159 non-null    float64
dtypes: float64(6), object(1)
memory usage: 8.8+ KB

In [8]:
df['Species'].unique()

array(['Bream', 'Roach', 'Whitefish', 'Parkki', 'Perch', 'Pike', 'Smelt'],
      dtype=object)

In [9]:
df.corr()

           Weight   Length1   Length2   Length3    Height     Width
Weight   1.000000  0.915712  0.918618  0.923044  0.724345  0.886507
Length1  0.915712  1.000000  0.999517  0.992031  0.625378  0.867050
Length2  0.918618  0.999517  1.000000  0.994103  0.640441  0.873547
Length3  0.923044  0.992031  0.994103  1.000000  0.703409  0.878520
Height   0.724345  0.625378  0.640441  0.703409  1.000000  0.792881
Width    0.886507  0.867050  0.873547  0.878520  0.792881  1.000000

In [10]:
X = df[['Length1','Length2','Length3','Height','Width']]
y = df['Weight']

In [11]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2, random_state=42)

In [12]:
X_train.shape

(127, 5)

In [13]:
y_train.shape

(127,)

In [14]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

In [15]:
regressor.fit(X_train,y_train)

LinearRegression()

In [16]:
print('Intercept=',regressor.intercept_)
print('Coefficients =',regressor.coef_)

Intercept= -515.3056513384333
Coefficients = [ 43.5352649    7.82179624 -25.25670105  23.2289123   27.06649294]

In [17]:
feature_names = X.columns
feature_names

Index(['Length1', 'Length2', 'Length3', 'Height', 'Width'], dtype='object')

In [18]:
y_pred = regressor.predict(X_test)

In [19]:
df_preds = pd.DataFrame({'Actual':y_test.squeeze(),'Predicted':y_pred.squeeze()})
df_preds

     Actual    Predicted
78     78.0    77.685633
155    13.4  -159.124606
128   200.0   385.167355
55    270.0   300.261194
94    150.0   179.410232
29   1000.0   775.667262
147     7.0  -214.434155
51    180.0   274.909638
98    188.0   268.445110
141  1250.0  1116.011532
19    650.0   610.120080
60   1000.0   786.343932
15    600.0   585.018316
65    150.0   172.123663
24    700.0   652.859554
30    920.0   785.414252
126  1000.0   926.404482
101   218.0   351.834332
96    225.0   256.324420
16    700.0   587.202197
151    10.0  -175.748294
18    610.0   619.147095
12    500.0   516.450912
9     500.0   515.987974
31    955.0   788.646953
125  1100.0   909.006222
95    170.0   219.681340
56    270.0   305.351270
145     6.7  -237.801165
152     9.9  -178.939433
135   510.0   688.578206
76     70.0    23.238631

In [20]:
regressor.score(X_test, y_test)

0.8821430593048694

In [21]:
regressor.score(X_train, y_train)

0.883887896537022

In [23]:
# Create a Pickle file  
import pickle
pickle_out = open("regressor.pkl","wb")
pickle.dump(regressor, pickle_out)
pickle_out.close()

In [26]:
import numpy as np

In [30]:
regressor.predict([[33.2,25.4,30.0,11.5200,4.0200]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([747.44210766])